# Игнорируем скомпилированные бинарные файлы
*.o
*.so
*.exe
*.dll
*.class

# Игнорируем каталоги сборки
build/
bin/
out/

# Файлы CMake (если не нужны)
CMakeCache.txt
CMakeFiles/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE / редакторы
.idea/
.vscode/
*.iml

# Системные файлы
target
config/*
dev/*
.DS_Store
Thumbs.db

# Игнорируем логи и временные файлы
*.log
*.tmp